.hero__container {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__text h1 {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 3rem;
}
.hero__text p {
  margin-top: 10px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 400;
}
.hero__span {
  color: #2979ff;
}
.hero__link {
  text-decoration: none;
  color: inherit;
}
.hero_button {
  background: #fff;
  border-radius: 55px;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: 2px solid #2979ff;
}
.hero_button:hover {
  background: #2979ff;
  color: #fff;
}
.hero__link:hover {
  color: inherit;
}

/* Responsive css media queries */
@media screen and (max-width: 768px) {
  .hero__container {
    justify-content: center;
  }
  .hero__image {
    display: none;
  }
  .hero__text h1 {
    margin: 10px 0px;
    font-size: 27px;
    text-align: center;
    line-height: 2.5rem;
  }
  .hero__text p {
    margin-top: 20px;
    font-size: 18px;
    padding: 0;
    padding-left: 10px;
  }
  .btn_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }
}

/* President section css starts here */
.president__container {
  background: #2979ff;
  padding: 70px 0;
}
.president__container h1 {
  color: #fff;
}
.president__section {
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  padding: 40px 50px;
}
.president__welcome {
  display: flex;
  z-index: 1;
  margin-bottom: -70px;
}
.president__photo {
  position: relative;
  top: -60px;
  left: -80px;
  padding: 10px 0px 0px 0px;
  height: 200px;
  border-radius: 50%;
}
.president__photo img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 10px solid #2979ff;
}
.president__note {
  margin-left: -50px;
}
.president__name h2 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 400;
  text-transform: capitalize;
}
.president__name p {
  font-size: 18px;
  font-weight: 400;
}
.president__text {
  padding: 0px 20px;
  z-index: 2;
  text-align: center;
}
.president__text h3 {
  font-size: 25px;
  color: #2979ff;
  font-weight: 300;
}
@media screen and (max-width: 991px) {
  .president__container {
    padding: 10px 0px;
  }
  .president__section {
    display: flex;
    flex-direction: column;
  }
  .president__welcome {
    margin: 0px;
  }
  .president__name {
    margin-left: 0px;
    padding: 0px 0px 0px 10px;
  }
  .president__name h2 {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  .president__name p {
    text-align: center;
    font-size: 18px;
  }
  .president__note {
    margin: 0px;
  }
  .president__photo {
    display: none;
  }
  .president__text p {
    padding: 0px 10px;
  }
}
.ministries__container {
  padding: 20px 0px;
}
.ministries__heading {
  color: #000;
  padding: 20px;
  font-weight: bold;
}
.ministry__links {
  background: #2979ff;
  padding: 10px;
  position: sticky;
  top: 10px;
}
.ministry__links a {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 20px;
  opacity: 0.95;
  transition: 0.2s all ease-in-out;
}
.ministry__links a:hover {
  border-left: 2px solid #fff;
  padding-left: 10px;
  opacity: 1;
  transition: 0.2s all ease-in-out;
}
.ministries_info {
  padding: 30px;
  background-image: url("../assets/ministry_background.jpg");
  /* background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(170,170,160,1) 100%); */
  background-attachment: fixed;
}
.ministries_info > div {
  margin-bottom: 50px;
}

